// Variables
@import 'variables';

@tailwind base;
@tailwind components;
@tailwind preflight;

@import 'themes/light';
@import 'themes/dark';
@import 'themes/pink';

// Default theme
body {
    @apply theme-light;
}

.section {
    @apply px-4;
}

.button {
    @apply bg-button text-white no-underline rounded-lg text-sm py-2 px-5;
    // box-shadow: 0 2px 7px 0 #b0eaff;
    box-shadow: 0 2px 7px 0 var(--button-shadow-color);
}

.card {
    @apply bg-card p-5 rounded-lg shadow;
    color: var(--text-default-color);
}

.dropdown {}

.dropdown-content {
    @apply hidden card absolute mt-1 -ml-24 w-36;
}

.show {
    display: block;
}

@tailwind utilities;
