// Variables
@import 'variables';

@tailwind preflight;
@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    background-color: #47cdff;
    color: white;
    text-decoration: none;
    box-shadow: 0 2px 7px 0 #b0eaff;
    border-radius: 8px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}
