// Variables
@import 'variables';

@tailwind base;
@tailwind components;
@tailwind preflight;

@import 'themes/light';
@import 'themes/dark';
@import 'themes/pink';
@import 'themes/purple';

// Default theme
body {
    @apply theme-light;
    --page-header-color: var(--page-background-color);
}

.section {
    @apply px-4;
}

.button {
    @apply bg-button text-white no-underline rounded-lg text-sm py-2 px-5;
    box-shadow: 0 2px 7px 0 var(--button-shadow-color);

    &.is-outlined {
        @apply bg-card border border-accent text-accent;
    }

    &.warning {
        @apply bg-warning-button;
        box-shadow: 0 2px 7px 0 var(--warning-button-shadow-color);
    }
}

.card {
    @apply bg-card p-5 rounded-lg shadow;
    color: var(--text-default-color);
}

.modal {}

.dropdown {}

.dropdown-content {
    @apply hidden card absolute mt-1 w-36;
}

@keyframes show-content {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

.show {
    display: block;
    animation: show-content 0.2s;
}

.prevent-scroll {
    height: 100%;
    overflow: hidden;
}

.user-profile {
    @apply hidden absolute mt-2 pointer-events-none;
}

.user-gravatar:hover + .user-profile {
    @apply block;
}

@tailwind utilities;