.theme-dark {
    --accent-color: #47cdff;

    --page-background-color: #17181e;
    --card-background-color: #1f2027;
    --button-background-color: #59b6f9;
    --warning-button-background-color: #df1919;
    --header-background-color: #1f2027;

    --text-default-color: white;
    --text-accent-color: #47cdff;
    --text-muted-color: #9ca3af;
    --text-error-color: #df1919;

    --border-muted-color: #9ca3af;
    --border-accent-color: #47cdff;
    --border-error-color: #df1919;

    --button-shadow-color: black;
    --warning-button-shadow-color: black;
}