.theme-green {
    --accent-color: #4fd527;

    --page-background-color: #e9f1e1;
    --card-background-color: white;
    --button-background-color: #4fd527;
    --warning-button-background-color: #df1919;
    --header-background-color: white;

    --text-default-color: black;
    --text-accent-color: #4fd527;
    --text-muted-color: #9ca3af;
    --text-error-color: #df1919;

    --border-muted-color: #9ca3af;
    --border-accent-color: #4fd527;
    --border-error-color: #df1919;

    --button-shadow-color: #84b774;
    --warning-button-shadow-color: #f06161;
}