.theme-light {
    --accent-color: #47cdff;

    --page-background-color: #f5f6f9;
    --card-background-color: white;
    --button-background-color: #47cdff;
    --header-background-color: white;

    --text-default-color: black;
    --text-accent-color: #47cdff;
    --text-muted-color: #9ca3af;

    --border-muted-color: #9ca3af;
    --border-accent-color: #8ae2fe;

    --button-shadow-color: #b0eaff;
}