.theme-ocean {
    --accent-color: #e0a95c;

    --page-background-color: #046465;
    --card-background-color: #fcdfaa;
    --button-background-color: #e0a95c;
    --warning-button-background-color: #df1919;
    --header-background-color: #68c9d0;

    --text-default-color: #104749;
    --text-accent-color: #e0a95c;
    --text-muted-color: #72a8aa;
    --text-error-color: #df1919;

    --border-muted-color: #72a8aa;
    --border-accent-color: #e0a95c;
    --border-error-color: #df1919;

    --button-shadow-color: #d1b37c;
    --warning-button-shadow-color: #f06161;
}