.theme-pink {
    --accent-color: #e46887;

    --page-background-color: #f9e5ea;
    --card-background-color: white;
    --button-background-color: #e46887;
    --header-background-color: white;

    --text-default-color: black;
    --text-accent-color: #e46887;
    --text-muted-color: #e46887;

    --border-muted-color: #e46887;
    --border-accent-color: #ff95b0;

    --button-shadow-color: #e08a9f;
}