.theme-purple {
    --accent-color: #c469e8;

    --page-background-color: #f5e0fd;
    --card-background-color: white;
    --button-background-color: #c469e8;
    --warning-button-background-color: #df1919;
    --header-background-color: white;

    --text-default-color: black;
    --text-accent-color: #c469e8;
    --text-muted-color: #c469e8;
    --text-error-color: #df1919;

    --border-muted-color: #c469e8;
    --border-accent-color: #c469e8;
    --border-error-color: #df1919;

    --button-shadow-color: #d09ae6;
    --warning-button-shadow-color: #f06161;
}